name: Release Workflow Agenda

'on':
  'push':
    'tags':
      - "v*.*.*"

'jobs':
  'detectar-versao':
    'runs-on': 'ubuntu-latest'
    'steps':
      - 'name': 'Checkout'
        'uses': 'actions/checkout@v3'

      - 'name': 'Mostrar versão'
        'run': 'echo "Versão: ${GITHUB_REF#refs/tags/}"'

      - 'name': 'Changelog simples'
        'run': |
          echo "Release: ${GITHUB_REF#refs/tags/}"
          git log -1 --oneline